*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
}

html {
    --clr-primary: #F7F7F7;
    --clr-secondary: hsl(226, 100%, 59%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.wrapper {
    width: 100vw;
    display: flex;
}

.side-bar {
    width: 100px;
    background-color: white;
    padding: 4rem;
    height: 100vh;

    ul {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        height: 100%;
        
        .logo {
            width:75%;
        }

        li {
            width: 75px;
            min-height: 75px;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            background-color: var(--clr-primary);
            
        }

        li:last-child {
            margin-top: auto;
        }
    }
}

.content {
    background-color: var(--clr-primary);
    width: 100%;
    overflow: scroll;
    padding: 8rem;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    .user-search-wrapper {
        position: relative;
        width: 15%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 1rem;

        .search-user-icon {
            position: absolute;
            left: .5rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.5rem;
        }

        #user-search {
            position: absolute;
            padding: 1rem;
            padding-inline-start: 2.5rem;
            width: 100%;
            color:hsl(0, 0%, 0%);
            border: none;
        }
        
        #user-search:focus {
            outline: hsl(0, 0%, 0%) 1px solid;
        }
    }
    

    #add-user-button {
        padding: .5rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        border: none;
        border-radius: 1rem;
        background-color: white;
        font-weight: bold;
    }

    .new-user-icon {
        padding: .4rem;
        width: 2rem;
        height: 2rem;;
        font-size: 1.5rem;
        background-color: var(--clr-secondary);
        border-radius: .5rem;
        color:var(--clr-primary);
    }
}

.user-cards-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 4rem;
}

.user-card {
    position: relative;
    background-color: white;
    border: 1px solid white;
    box-shadow: 5px 5px 10px -2px;
    border-radius: 25px;
    height: 6rem; 
    padding: 1rem;
    
    .user-arrow {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3rem;
        color: #DBA97C;
    }

    h2 {
        color:hsl(0, 0%, 60%);
        font-weight: 100;
        font-size: 1.3rem;
    }
}